/*
    Clermont'ech Planet

    Page layout and default tag styles.
 */


body {
    font-family: $default_font;
    background-color: $background_color;
}

%h_mother {
    font-family: $title_font;
}

%h_main {
    @extend %h_mother;
    font-weight: bold;
}

h1 {
    @extend h2;
    text-transform: uppercase;
}

h2 {
    @extend %h_main;
    // color: $background_color;
    text-align: left;
}

h3, h4, h5, h6 {
    @extend %h_mother;
}

nav.top-bar {
    ul.title-area {
        li.name {
            background-image: url('../images/clermontech_logo_48px.png');
            background-position: top left;
            background-repeat: no-repeat;
            margin-left: 1em;
            padding-left: 50px;
        }
    }
}

header {
    background-color: $header_background_color;
    height: 100vh;
    background-image: url(http://2.bp.blogspot.com/-yinUroqTCsI/TeEXEAxCIhI/AAAAAAAACNE/kY8uzRmK9cc/s1600/Photo0109.jpg);
    background-size: 100% contain;

    h2 {
        margin-top: 30vh;
        font-size: 3em;
        color: $white;
    }
}

hr {
    display: block;
}

footer {
    width: 100%;
    background: $footer_background_color;
    padding-top: 30px;
    padding-bottom: 10px;
    color: $background_color;

    p {
        text-align: justify;
        font-size: 0.9em;
    }
}
