/*
    Clermont'ech Planet

    Page layout and default tag styles.
 */


body {
    font-family: $default_font;
    background-color: $background_color;
}

%h_mother {
    font-family: $title_font;
}

%h_main {
    @extend %h_mother;
    font-weight: bold;
}

h1 {
    @extend h2;
    text-transform: uppercase;
}

h2 {
    @extend %h_main;
    color: $background_color;
    text-align: left;
}

h3, h4, h5, h6 {
    @extend %h_mother;
}

nav.top-bar {
    ul.title-area {
        li.name {
            img {
                padding-right: 1em;
            }
        }
    }
}

header {
    background-color: $header_background_color;
}

hr {
    display: block;
}

footer {
    width: 100%;
    background: $footer_background_color;
    padding-top: 30px;
    padding-bottom: 10px;
    color: $background_color;

    p {
        text-align: justify;
        font-size: 0.9em;
    }
}
